#header {
    top: 0;
    right: 0;
    left: 0;
    height: 77px;
    background-color: white;
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;
    padding-right: 10px;
    border-bottom: solid 1px #ccc;
    position: fixed;
    z-index: 1;
}

.logo {
    position: fixed;
    top: 27px;
    left: 100px;  
    
}

#header #nav li{
    display: inline-block;
}

#nav li a{
    color: #4E3636;
    font-size: 20px;
    text-decoration: none;
    padding: 0 17px;
    text-align: center;
    line-height: 90px;
    bottom: 0;   
    cursor: pointer;
}
#nav li a:hover {
    color: #990000
}
.icons-noti{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #b60a0a;
    color: white;
    font-family: Montserrat-Medium;
    font-size: 12px;
    position: absolute;
    top: 27px;
    right: 15px;
}
