.logout{
    float: right;
}
.inventory{
    padding-top: 50px;
    text-align: center;
}
// .button-modal{
//     padding-right: 800px;
// }
.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Đảm bảo form chiếm toàn bộ chiều cao của trình duyệt */
  }