.login {
    width: 430px;
    height: 305px;
    padding-top: 80px;
    margin: auto;
    padding-bottom: 350px;
    
    
}
.login-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
.input-container label{
  display: flex;
}
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-button {
    background-color: #3a3a3a;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .login-button:hover {
    background-color: #008060;
  }